# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

# Generate using crypto.randomUUID()
# See https://svelte.dev/docs/kit/adapter-vercel
BYPASS_TOKEN=

# Used for information fetching
GITHUB_TOKEN=
